{% extends 'base_etp.html' %}
{% block extra-style %}
<style>
#tablas {
border-collapse: collapse;
width: 100%;
}
#tablas td, #tablas th {
border: 1px solid rgb(0, 0, 0);
padding: 5px;
}
#tablas th {
text-align: center;
background-color: rgb(119, 117, 131);
color: white;
}
</style>
{% endblock %} 
{% block page-title %} Módulo : {{ module_title }}{% endblock %}
{% block content-title %}<h1>Reporte - {{ section_title }}</h1>{% endblock %}
{% block content %}
<table id="tablas" repeat="1">
<thead>
<tr>
    <th> CÓDIGO </th>
    <th> RECOLECTA </th>
    <th> PAQUETES </th>
    
</tr>
</thead>
<tbody>
{% for Bulto in context_pdf %}
    <tr>
        <td>{{ Bulto.guias }}</td>
        <td>{{ Bulto.recolecta }}</td>
        <td>{{ Bulto.id_bulto }}</td>
        <td><pdf:barcode value="{{ Bulto.id_bulto }}" type="code128" humanreadable="1"/></td>

    </tr>
{% endfor %}
</td>
</tr>
</tbody>
</table>
{% endblock %}