{% extends 'base.html' %}{% load static %}
{% block page-title %} - Módulo : {{ module_title }}{% endblock %}
{% block extra-css %}<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">{% endblock %}
{% block extra-js %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
{% block mod-guia %}<li class="active"><a href="{% url 'l_Guia' %}">Guía</a></li>{% endblock %}
{% block content %}
{% block content-title %}<h3>{{ section_title }}</h3>{% endblock %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"></div>
<form action="{% url 's_Guia' %}" method="get">
<div class="input-group">
<input name="q" type="text" size="40" placeholder="Filtrar Registros N# - Guía...">
<button class="btn btn-sm btn-default" title="Buscar - Filtrar" type="submit"><img src="{% static 'css/icon/StartMenuSearchicon16.png' %}" alt=""></button>
</div>
</form>
<p></p>
{% if messages %}
<ul>
{% for message in messages %}
<div class="alert alert-success" role="alert">
<strong>{{ message }}</strong>
</div>
{% endfor %}
</ul>
{% endif %}
<p></p>
<a class="btn btn-sm btn-default" href="{% url 'c_Guia' %}" title="Crear Nuevo"><img src="{% static 'css/icon/SignAddicon.png' %}" alt=""></a>
<p></p>
{% if object_list %}
<table id="tabla" class="display compact" style="width:100%">
<thead>
    <tr>
        <th> ID </th>
        <th> GUÍA </th>
        <th> RECOLECTA </th>
        <th> PAQUETES </th>
        <th> SUCURSAL </th>
        <th> REMITENTE </th>
        <th> RUTA </th>
        <th> DESTINO </th>
        <th> DESTINATARIO </th>
        <th> ESTADO </th>
        <th class="text-center"> ACCIONES </th>
    </tr>
</thead>
<tbody>
{% for Guia in object_list %}
    <tr>
        <td>{{ Guia.id }}</td>
        <td>{{ Guia.guia }}</td>
        <td>{{ Guia.recolecta }}</td>
        <td>{{ Guia.cantidad }}</td>
        <td>{{ Guia.origen }}</td>
        <td>{{ Guia.remitente }}</td>
        <td>{{ Guia.ruta }}</td>
        <td>{{ Guia.destino }}</td>
        <td>{{ Guia.destinatario }}</td>
        <td>{{ Guia.get_estado_display }}</td>
        <td class="text-center">
            <form method="POST" action="{% url 'e_Guia' Guia.id %}">
            {% csrf_token %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success" onclick="return abrir_modal('{% url 'd_Guia' Guia.id %}')" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></button>
                <button type="button" class="btn btn-sm btn-primary" onclick="return abrir_modal('{% url 'u_Guia' Guia.id %}')" title="Actualizar"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="submit" class="btn btn-sm btn-danger" onclick="return eliminar()" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
            </form>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
    <h4>No hay registros a mostrar</h4>
{% endif %}
{% endblock %}