{% extends 'basepdf.html' %}
{% block extra-style %}
<style>
#tablas {
border-collapse: collapse;
width: 100%;
}
#tablas td, #tablas th {
border: 1px solid rgb(0, 0, 0);
padding: 5px;
}
#tablas th {
text-align: center;
background-color: rgb(119, 117, 131);
color: white;
}
</style>
{% endblock %} 
{% block page-title %} Módulo : {{ module_title }}{% endblock %}
{% block content-title %}<h1>Reporte - {{ section_title }}</h1>{% endblock %}
{% block content %}
<table id="tablas" repeat="1">
<thead>
<tr>
    <th> ID </th>
    <th> TIPO </th>
    <th> NOMBRE </th>
    <th> CELULAR </th>
    <th> TELEFÓNO </th>
    <th> EMAIL </th>
    <th> SUCURSAL </th>
</tr>
</thead>
<tbody>
{% for Cliente in context_pdf %}
<tr>
    <td>{{ Cliente.id_cliente }}</td>
    <td>{{ Cliente.tipo_persona }}</td>
    <td>{{ Cliente.nombre }}</td>
    <td>{{ Cliente.celular }}</td>
    <td>{{ Cliente.telefono }}</td>
    <td>{{ Cliente.email }}</td>
    <td>{{ Cliente.origen }}</td>
</tr>
{% endfor %}
</td>
</tr>
</tbody>
</table>
{% endblock %}